[project]
	description = Small android lib allowing you to make a flip imageview easily, by extending FlipImageView.
[access "refs/*"]
	owner = group user/Antoine Merle (castorflex)
[access "refs/for/refs/*"]
	read = group user/Antoine Merle (castorflex)
	push = group user/Antoine Merle (castorflex)
	label-Code-Review = -2..+2 group user/Antoine Merle (castorflex)
	label-Verified = -1..+1 group user/Antoine Merle (castorflex)
	rebase = group user/Antoine Merle (castorflex)
	removeReviewer = group user/Antoine Merle (castorflex)
	submit = group user/Antoine Merle (castorflex)
[access "refs/heads/*"]
	read = group user/Antoine Merle (castorflex)
	create = group user/Antoine Merle (castorflex)
	push = +force group user/Antoine Merle (castorflex)
	pushMerge = group user/Antoine Merle (castorflex)
[access "refs/tags/*"]
	push = +force group user/Antoine Merle (castorflex)
	pushTag = group user/Antoine Merle (castorflex)
	pushSignedTag = group user/Antoine Merle (castorflex)
